*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full{
  width: 100%;
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: rgb(230, 144, 14);
  padding: 40px;

}
.full h1{
  text-align: center;
  color: green;
  font-size: 40px;
}
.uimessagesuccess{
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: green;
}
.names{
  display: flex;
  gap: 10px;
}
.boll ::placeholder{
  font-size: 50px;
}
.boll:hover{
  border: 2px solid green;
 font-size: 20px;

}

.names input{
  height: 50px;
  width: 195px;
  outline: none;
 
}
.field input {
  height: 50px;
  width: 400px;
  outline: none;
  margin-top: 10px;
  font-size: 20px;
  border-radius:5px ;
  border: none;
}

.btn {
  height: 50px;
  width: 400px;
  outline: none;
  margin-top: 30px;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  color: black;
  border:none;
}
.btn:hover{
 background-color: green;
 border: none;
}